*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
#swagger code gen
app/src/main/java/.swagger-codegen-ignore
app/src/main/java/.swagger-codegen/
app/src/main/java/iambedoy/dto/
app/src/main/java/swagger.json